.selectorWrapper {
  display: flex;

  // flex-direction: column;
  gap: spacing(3);
  padding: 0.5rem;
  background-color: $color-white;
  border-radius: $radius-md;
  box-shadow: 0 spacing(1) spacing(5) rgba($color-black, 0.04);
  border: 1px solid rgba($color-black, 0.03);
  width: 100%;

  @include screen(md) {
    flex-direction: row;
    align-items: center;
  }
}

.title {
  font-size: $text-sm;
  font-weight: $font-bold;
  color: $color-text;
  margin: 0;
  white-space: nowrap;
  display: flex;
  align-items: center;
  gap: spacing(2);
  min-width: 6.75rem;

  &::before {
    content: "";
    display: block;
    width: spacing(1);
    height: 1.25em;
    background: $color-blue-linear;
    border-radius: $radius-full;
  }
}

.picker {
  flex: 1;
}
