.container {
  padding-top: spacing(6);
  padding-bottom: spacing(10);
}

.schedule {
  margin-top: spacing(8);
  display: flex;
  flex-direction: column;
  gap: spacing(4);

  @include screen(lg) {
    display: grid;
    grid-template-columns: 350px 1fr;
    align-items: flex-start;
    gap: spacing(8);
  }
}
