@use "variables" as *;
@use "mixins" as *;

.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-right: space(4);
  padding-left: space(4);

  @include screen(sm) {
  }

  @include screen(md) {
  }

  @include screen(lg) {
  }

  @include screen(xl) {
    max-width: 1288px;
  }

  @include screen(2xl) {
    max-width: 1288px;
  }
}

.flex {
  display: flex;
}

.flex-col {
  flex-direction: column;
}

.items-center {
  align-items: center;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.flex-wrap {
  flex-wrap: wrap;
}

.grid {
  display: grid;
}

.grid-cols-2 {
  grid-template-columns: repeat(2, minmax(0, 1fr));
}

.grid-cols-3 {
  grid-template-columns: repeat(3, minmax(0, 1fr));
}

.gap-2 {
  gap: space(2);
}

.gap-3 {
  gap: space(3);
}

.gap-4 {
  gap: space(4);
}

.gap-5 {
  gap: space(5);
}

.gap-6 {
  gap: space(6);
}

.gap-8 {
  gap: space(8);
}
